<!DOCTYPE html>
<html>
<head>
  <title>Student Management System</title>
</head>
<body>
  <h1>Student List</h1>
  <a href="/students/add">Add Student</a>
  <table border="1" cellspacing="0" cellpadding="8">
    <tr>
      <th>Name</th>
      <th>Roll No</th>
      <th>Course</th>
      <th>Marks</th>
      <th>Action</th>
    </tr>
    <% students.forEach(student => { %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.rollNumber %></td>
      <td><%= student.course %></td>
      <td><%= student.marks %></td>
      <td><a href="/students/delete/<%= student._id %>">Delete</a></td>
    </tr>
    <% }) %>
  </table>
</body>
</html>
